@import url("reset.css");

body {
    background-color: #FFF3DC;
    line-height: 1.6;
    font-family: 'Quicksand','Akshar','Caveat','Libre Bodoni';
    color: #565656;
    font-size: 18px;
    min-width:1440px;
}

img {
    display: block;
}

p{
    font-weight: 500;
}

/*--------------- button start ---------------*/
.btn_o {
    font-size: 18px;
    color: #EC6D4E;
    font-weight: bold;
    text-decoration: none;
    border: #EC6D4E 3px solid;
    border-radius: 50px;
    padding: 5px 20px;
    text-align: center;
}

.btn_o:hover {
    color: #FAFAFA;
    border: #EC6D4E 3px solid;
    background-color: #EC6D4E;

}

.btn_w {
    font-size: 18px;
    color: #FAFAFA;
    font-weight: bold;
    text-decoration: none;
    border: #FAFAFA 3px solid;
    border-radius: 50px;
    padding: 5px 20px;
}

.btn_w:hover {
    color: #EC6D4E;
    border: #FAFAFA 3px solid;
    background-color: #FAFAFA;

}
/*--------------- button end ---------------*/

/*-------- top start --------*/
.top {
    width: 920px;
    margin: 0 auto;
    position: relative;
    margin-top: 30px;
}

.top_title {
    font-size: 64px;
    line-height: 64px;
    font-weight: bold;
    font-family: 'Quicksand';
}

.top_banner {
    margin-top: 10px;
    box-shadow: 0px 0px 0px 40px #ffdfa2;
}

.top_deco {
    position: absolute;
    top: 343px;
    left: 843px;
}
/*-------- top end --------*/

/*-------- donuts list start --------*/
.donuts {
    margin-top: -40px;
    background-color: #FFDFA2;
}

.donuts_list {
    width: 850px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 140px;
    padding-bottom: 100px;
}

.donuts_list a {
    text-decoration: none;
    color: #565656;
}

.donuts_list img:hover {
    animation: rotated 5s linear infinite;
}

.donuts_list li{
    
    background-image: url('../image/donuts/point.png');
    background-size:50%;
    background-repeat: no-repeat;
    background-position: top;
}

@keyframes rotated {
    100% {
        transform: rotate(360deg);
    }
}

.donuts_list h5 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

/*-------- donuts list end --------*/

/*-------- donuts start --------*/
.donuts_items {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
}

.donuts_items ul{
    display: flex; 
    justify-content: space-between;  
    flex-wrap: wrap; 
}

.donuts_items a{
    text-decoration: none;
    color:#565656
}

.donuts_items li{
    margin-bottom: 40px;
}

.donuts_container{
    width: 250px;
    height: 220px;
    background-image: url('../image/donuts/d_bg.png');
    background-repeat: no-repeat;
    background-position: top right;
display: flex;
align-items: flex-end;
}

.donuts_item {
    filter: drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.25));
}

.donuts_item:hover {
    transform: scale(1.05);
}

.donuts_items h5 {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
}

.donuts_items h4 {
    font-size: 30px;
}
/*-------- donuts end --------*/
/*-------- event start --------*/
.event{
    background-image:url(../image/top_dotted_bg.png)
    
}

/*--------------- dialog start ---------------*/
.dialog {
    width: 510px;
    height: 530px;
    background-image: url('../image/donuts/dialog.png');
    background-repeat: no-repeat;
    display: flex;
    z-index: 1;
    top: 129px;
    left: 0px;
}

.dialog_text {
    width: 325px;
    margin: auto;
    text-align: center;
    position: relative;
    vertical-align: baseline;
}

.dialog_text span{
    font-size: 20px;
    font-weight: bold;
}

.akshar {
    font-size: 20px;
    font-family: 'Akshar';
    font-style: italic;
    font-weight: 600;
    color: #EC6D4E;
}

.libre {
    margin: 10px 0 40px;
    font-size: 32px;
    line-height: 35px;
    font-family: 'Libre Baskerville';
    font-weight: bold;
}

.dialog_text p {
    text-align: left;
    margin-bottom: 30px;
}

.dialog_text h2:after {
    content: '';
    height: 3px;
    width: 60px;
    background-color: #FFCF75;
    position: absolute;
    top: 96px;
    left: 130px;
}
/*--------------- dialog end ---------------*/
.event_container{
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 80px;
    padding-top: 60px;
    position: relative;
    display: flex;
}

.event_gift{
    width: 566px;
    position: relative;
    margin: 0 auto;
}

.event_gift span{
    font-family: 'Caveat';
    letter-spacing: -3px;
    position: absolute;
    color: #EC6D4E;
    font-size: 100px;
    white-space: nowrap;
    transform: rotate(-8.47deg);
    top: 26px;
    left: 165px;
    z-index: 2;
}

.donutsbox{
    position: absolute;
    top: 137px;
    left: 116px;
    z-index: 1;
}

.giftcup{
    position: absolute;
    top: 162px;
    left: 0px;
}
/*-------- event end --------*/
/*--------------- main end ---------------*/