@import url("./reset.css");

body {
    background-color: #FFF3DC;
    line-height: 1.6;
    font-family: Calibri;
    color: #565656;
    font-size: 18px;
}

img {
    display: block;
}

/*--------------- dialog start ---------------*/
.dialog {
    width: 510px;
    height: 530px;
    background-image: url('./image/dialog.png');
    background-repeat: no-repeat;
    display: flex;
    position: absolute;
    z-index: 1;
    top: 129px;
    left: 0px;
}

.dialog_text {
    width: 325px;
    margin: auto;
    text-align: center;
    position: relative;
    vertical-align: baseline;
}

.akshar {
    font-size: 20px;
    font-family: 'Akshar';
    font-style: italic;
    font-weight: 600;
    color: #EC6D4E;
}

.libre {
    margin: 10px 0 40px;
    font-size: 32px;
    line-height: 35px;
    font-family: 'Libre Baskerville';
    font-weight: bold;
}

.dialog_text p {
    text-align: left;
    margin-bottom: 30px;
}

.dialog_text h2:after {
    content: '';
    height: 3px;
    width: 60px;
    background-color: #FFCF75;
    position: absolute;
    top: 134px;
    left: 136px;
}

/*--------------- dialog end ---------------*/

/*--------------- button start ---------------*/
.btn_o {
    font-size: 18px;
    color: #EC6D4E;
    font-weight: bold;
    text-decoration: none;
    border: #EC6D4E 3px solid;
    border-radius: 50px;
    padding: 5px 20px;
    text-align: center;
}

.btn_o:hover {
    color: #FAFAFA;
    border: #EC6D4E 3px solid;
    background-color: #EC6D4E;

}

.btn_w {
    font-size: 18px;
    color: #FAFAFA;
    font-weight: bold;
    text-decoration: none;
    border: #FAFAFA 3px solid;
    border-radius: 50px;
    padding: 5px 20px;
}

.btn_w:hover {
    color: #EC6D4E;
    border: #FAFAFA 3px solid;
    background-color: #FAFAFA;

}

/*--------------- button end ---------------*/

/*--------------- navbar start ---------------*/
.nav {
    width: 1440px;
    margin: 0 auto;
    text-align: center;
}

.nav_item {
    text-decoration: none;
    color: #565656;
    font-size: 20px;
}

.nav_item_main {
    text-decoration: none;
    color: #565656;
    font-size: 20px;
    border-bottom: #565656 5px solid;
    padding-bottom: 5px;

}

.nav_item:hover {
    border-bottom: #565656 5px solid;
    padding-bottom: 5px;
}

.nav ul {
    display: flex;
    width: 1440px;
    position: relative;
    justify-content: space-between;
}

ul.nav_line {
    margin-top: 30px;
}

.nav li {
    font-size: 1.25em;
    width: 140px;
}

.nav_logo {
    width: 110px;
    margin: 0 auto;
    text-align: center;
}

ul.nav_line:after {
    content: '';
    height: 1px;
    width: 650px;
    background-color: #565656;
    position: absolute;
    top: 60px;
}

ul.nav_line:before {
    content: '';
    height: 1px;
    width: 650px;
    background-color: #565656;
    position: absolute;
    top: 60px;
    right: 0px;
}

.shoppiing svg:hover {
    transform: scale(1.05);
}

/*--------------- navbar end ---------------*/

/*--------------- main start ---------------*/
/*-------- top start --------*/
.top {
    width: 920px;
    margin: 0 auto;
    position: relative;
    margin-top: 30px;
}

.top_title {
    font-size: 64px;
    line-height: 64px;
    font-weight: bold;
}

.top_banner {
    margin-top: 10px;
    box-shadow: 0px 0px 0px 40px #ffdfa2;
}

.top_deco {
    position: absolute;
    top: 343px;
    left: 843px;
}

/*-------- top end --------*/

/*-------- donuts list start --------*/
.donuts {
    margin-top: -40px;
    background-color: #FFDFA2;
}

.donuts_list {
    width: 850px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 140px;
    padding-bottom: 100px;
}

.donuts_list a {
    text-decoration: none;
    color: #565656;
}

.donuts_list img:hover {
    animation: rotated 5s linear infinite;
}

@keyframes rotated {
    100% {
        transform: rotate(360deg);
    }
}

.donuts_list h5 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

/*-------- donuts list end --------*/

/*-------- donuts start --------*/
.donuts_items {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
}

.donuts_container {
    width: 250px;
    height: 220px;
    background-image: url('../image/donuts/d_bg.png');
    background-repeat: no-repeat;
    background-position: top right;
    justify-content: space-between;
    
}

.donuts_items ul{
    display: flex; 
    justify-content: space-between;  
    flex-wrap: wrap; 
}

.donuts_items li{
    margin-bottom: 40px;
}


.donuts_item {
    filter: drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.25));
    
}

.donuts_items h5 {
    font-size: 24px;
    font-weight: bold;
}

.donuts_items h4 {
    font-size: 30px;
}

/*-------- donuts end --------*/

/*--------------- main end ---------------*/

/*--------------- footer start ---------------*/
.footer {
    background-color: #EC6D4E;
}

.footer_all {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 1200px;
    margin: 0 auto;
}

.footer_items {
    align-items: center;
}

.footer_list a {
    text-decoration: none;
    color: #FAFAFA;
    font-size: 20px;
    margin: 0 60px;
}

.footer ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.footer_item:hover {
    border-bottom: #FAFAFA 5px solid;
    padding-bottom: 5px;
}

.footer_social {
    display: flex;
}

.footer_social_item_02,
.footer_social_item_03 {
    padding-left: 20px;
}

.footer_bottom {
    color: #FAFAFA;
    text-align: center;
}

.footer_bottom span {
    font-size: 16px;
}

.footer_social img:hover {
    transform: scale(1.2);
}

/*--------------- footer end ---------------*/