@import url("reset.css");

body {
    background-color: #FFF3DC;
    line-height: 1.6;
    font-family: 'Quicksand', 'Akshar', 'Caveat', 'Libre Bodoni';
    color: #565656;
    font-size: 18px;
    min-width: 100%;
}

img {
    display: block;
}

p {
    font-weight: 500;
}

.footer_item_main {
    border-bottom: #FAFAFA 5px solid;
    padding-bottom: 5px;
}

/*-------- top start --------*/
.top {
    width: 920px;
    margin: 0 auto;
    position: relative;
    margin-top: 30px;
}

.top_title {
    font-size: 64px;
    line-height: 64px;
    font-weight: bold;
    font-family: 'Quicksand';
}

.top_banner {
    margin-top: 10px;
    box-shadow: 0px 0px 0px 40px #ffdfa2;
}

.top_deco {
    position: absolute;
    top: 343px;
    left: 843px;
}

/*-------- top end --------*/
.faqs {
    margin-top: -40px;
    background-color: #FFDFA2;
}

.faqs_container {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 140px;
    padding-bottom: 100px;
}

.faqs_item{
    margin-bottom:12px;
}

.q_container{
    padding:1em 2em 1em 2em;
    background-color: #565656;
    /* position: relative; */
}

.faqstoggle{
    display: none;
    box-sizing: border-box;
}

.faqs_title{
    font-weight:bold;
    font-size:20px;
    color:#fAFAFA;
    display:block;
}
/* 
.faqs_title::before{
    content: '';
position: absolute;
width: 2em;
height: 0.75em;
background-color: #FAFAFA;
}

.faqs_title::after{
    content: '';
    position: absolute;

} */

.ans_container{
    padding:1em 2em 1em 2em;
    background-color:#FEF4E2;
}

.faqsbox{
    margin-bottom: 20px;
}

.faqs_container span{
    font-size: 20px;
}

.faqs_item_1 label:after {
    content: "DO YOU DELIVER?";
}

.faqs_item_2 label:after {
    content: "HOW FAR DO YOU DELIVER?";
}

.faqs_item_3 label:after {
    content: "AM I WITHIN THE DELIVERY RANGE?";
}

.faqs_item_4 label:after {
    content: "PICK UP / DELIVER";
}

.faqs_item_5 label:after {
    content: "WHICH DONUTS ARE VEGAN IN YOUR PLACE?";
}

.faqs_item_6 label:after {
    content: "DO YOU SELL GLUTEN FREE DONUTS?";
}