/*--------------- navbar start ---------------*/
.nav {
    width: 1080px;
    margin: 0 auto;
    text-align: center;
}

.nav_item {
    text-decoration: none;
    color: #565656;
    font-size: 16px;
    font-family: 'Quicksand';
}

.nav_item_main {
    text-decoration: none;
    color: #565656;
    font-size: 16px;
    border-bottom: #565656 4px solid;
    padding-bottom: 5px;
}

.nav_item:hover {
    border-bottom: #565656 4px solid;
    padding-bottom: 5px;
}

.nav ul {
    display: flex;
    width: 1080px;
    position: relative;
    justify-content: space-between;
}

ul.nav_line {
    margin-top: 20px;
}

.nav li {
    /* outline: blue 2px solid; */
    font-size: 1.25em;
    width: 150px;
    font-weight: 600;
}

.nav_logo {
    width: 100px;
    margin: 0 auto;
    text-align: center;
}

ul.nav_line:after {
    content: '';
    height: 1px;
    width: 460px;
    background-color: #565656;
    position: absolute;
    top: 60px;
}

ul.nav_line:before {
    content: '';
    height: 1px;
    width: 460px;
    background-color: #565656;
    position: absolute;
    top: 60px;
    right: 0px;
}

.shoppiing svg:hover{
    transform: scale(1.05);
}

.footer_bottom p{
    font-size: 14px;
}
/*--------------- navbar end ---------------*/

/*--------------- footer start ---------------*/
.footer{
    background-color: #EC6D4E;
}

.footer_all{
    padding-top:60px;
    padding-bottom:60px;
    width: 1080px;
    margin: 0 auto;
}

.footer_items{
    align-items: center;
}

.footer_logo{
    width: 70%;
}

.footer_list a{
    text-decoration: none;
    color: #FAFAFA;
    font-size: 16px;
    margin: 0 60px;
    font-weight: 600;
}

.footer ul{
    display: flex;
    justify-content: space-between;
    margin-bottom:40px;
}

.footer_item:hover {
    border-bottom: #FAFAFA 4px solid;
    padding-bottom: 5px;
}

.footer_item_main {
    border-bottom: #FAFAFA 4px solid;
    padding-bottom: 5px;
}

.footer_social{
    display: flex;
}

.footer_social_item_02, .footer_social_item_03{
    padding-left: 20px;
}

.footer_bottom{
    color: #FAFAFA;
    text-align: center;
}

.footer_bottom span{
    font-size: 16px;
}

.footer_social img:hover {
    transform: scale(1.2);
}
/*--------------- footer end ---------------*/