@import url("reset.css");

body {
    background-color: #FFDFA2;
    line-height: 1.6;
    font-family: 'Quicksand', 'Akshar', 'Caveat', 'Libre Bodoni';
    color: #565656;
    font-size: 16px;
    min-width: 1440px;
}

img {
    display: block;
}

p {
    font-weight: 500;
}

/*--------------- button start ---------------*/
.btn_o {
    font-size: 16px;
    color: #EC6D4E;
    font-weight: bold;
    text-decoration: none;
    border: #EC6D4E 2px solid;
    border-radius: 50px;
    padding: 6px 40px;
    text-align: center;
}

.btn_o:hover {
    color: #FAFAFA;
    border: #EC6D4E 3px solid;
    background-color: #EC6D4E;
}

.btn_w {
    font-size: 16px;
    color: #FAFAFA;
    font-weight: bold;
    text-decoration: none;
    border: #FAFAFA 2px solid;
    border-radius: 50px;
    padding: 6px 40px;
}

.btn_w:hover {
    color: #EC6D4E;
    border: #FAFAFA 2px solid;
    background-color: #FAFAFA;
}

/*--------------- button end ---------------*/
/*--------------- popup bn start ---------------*/
.form-popup {
    position: absolute;
    width: 320px;
    height: 420px;
    background: linear-gradient(142.51deg, #EC6D4E, #FEC872, #EC6D4E);
    padding: 10px;
    right: 0;
    position: fixed;
    top: 0px;
    bottom: 0px;
    margin: auto;
    text-align: center;
    z-index: 3;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.20);
}

.form-popup-close {
    display: none;
}

.popup {
    padding: 20px;
    background: #565656;
}

.popuplogo {
    width: 35%;
}

.cancel {
    position: absolute;
    top: 30px;
    right: 30px;
}

.cancel_img {
    width: 70%;
    cursor: pointer;
}

.cancel_img:hover {
    transform: scale(1.15);
}

.form-popup .akshar {
    font-size: 22px;
}

.form-popup img {
    margin: 0 auto;
}

.form-popup h3 {
    font-size: 24px;
    margin: 10px 0;
}

.form-popup span {
    font-size: 18px;
    line-height: 20px;
    color: #FFCF75;
    font-weight: bold;
}

.pop_email {
    /* outline: blue 2px solid; */
    padding-top: 10px;
    padding-bottom: 40px;
    margin: 0 auto;
    text-align: left;
}

.form-popup h4 {
    font-size: 14px;
    color: #FAFAFA;
    font-weight: 600;
    text-align: left;
    margin-top: 10px;
}

.pop_email input {
    background-color: #BCBCBC;
    border: none;
    padding: 10px 40px 10px 5px;
    width: 235px;
    margin: 5px 0;
}

.pop_email input:focus {
    background-color: #FFCF75;
    outline: none;
}

.pop_email label {
    color: #FAFAFA;
    font-size: 12px;
}

#popbox {
    width: 14px;
    height: 14px;
}

.form-popup .btn_w {
    font-size: 14px;
    padding: 6px 50px;
}

/*--------------- popup bn end ---------------*/

/*--------------- popup result start ---------------*/
.popup-result-mask {
    top: 0;
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
}

.popup-result-container {
    right: 50%;
    left: 50%;
    top: 50%;
    bottom: 50%;
}

.popup-result-text {
    z-index: 1;
    text-align: center;
    outline: 2px solid pink;
    padding: 57px 75px;
    position: absolute;
}

.holla {
    font-family: 'Caveat';
    letter-spacing: -3px;
    color: #FFCF75;
    font-size: 80px;
}

.popup-result-text h4 {
    margin-top: 10px;
    font-size: 28px;
    font-weight: bold;
    color: #FAFAFA;
}

.popup-result-text h5 {
    margin-top: 20px;
    font-size: 20px;
    color: #FAFAFA;
}

.popup-result-text .akshar {
    margin-top: 60px;
    font-size: 24px;
    color: #FFCF75;
}

.popup-result-element {
    position: relative;
}

.popupquoteb {
    z-index: 3;
    position: absolute;
    top: 54px;
    left: 0px;
}

.popupquotes {
    z-index: 4;
    position: absolute;
    top: 415px;
    left: 346px;
}

.popup-result-cancel {
    position: absolute;
    top: 30px;
    left: 460px;
    width: 70%;
    cursor: pointer;
}

.popup-result-cancel_img:hover {
    transform: scale(1.15);
}

/*--------------- popup result end ---------------*/

/*--------------- social start ---------------*/
.aside {
    height: 250px;
    position: fixed;
    top: 0px;
    bottom: 0px;
    margin: auto;
    margin-left: 50px;
}

.aside ul {
    margin: 0 auto;
}

.aside li {
    margin-bottom: 60px;
}

.follow {
    font-size: 14px;
    transform: rotate(90deg);
    font-weight: 500;
}

.straight_line {
    content: '';
    height: 1px;
    /* width: 60px; */
    background-color: #565656;
    transform: rotate(90deg);
}

.social {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: -20px;
}

.social svg {
    margin: 5px 0;
}

.social svg:hover {
    transform: scale(1.2);
}

/*--------------- social end ---------------*/

/*--------------- top start ---------------*/
.top_bg {
    background-image: url(../image/top_dotted_bg.png);
}

.top {
    width: 1080px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.text_container {
    position: relative;
}

.text_container h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 120px;
}

.slider_decoration {
    position: relative;
}

.flag {
    position: absolute;
    top: -461px;
    left: 155px;
}

.flag h5 {
    font-weight: bold;
}

.flag_text {
    position: absolute;
    font-size: 30px;
    font-weight: 400;
    transform: rotate(-14.07deg);
    color: #000000;
    top: 12px;
    left: 12px;
}

.donut_display {
    margin-left: 146px;
    filter: drop-shadow(39px 35px 26px rgba(0, 0, 0, 0.25));
}

.dotted_bg img {
    height: 170px;
    position: absolute;
    top: -135px;
    left: 440px;
    z-index: -1;
}

.highlight_bg {
    background-color: #FFCF75;
    width: 504px;
    height: 86px;
    position: absolute;
    z-index: -1;
    top: 257px;
    right: -11px;
}

.text_container span {
    font-family: 'Caveat';
    letter-spacing: -3px;
    position: absolute;
    color: #EC6D4E;
    font-size: 80px;
    white-space: nowrap;
    transform: rotate(-8.47deg);
    top: 97px;
    left: 360px;
    z-index: 1;
}

/*--------------- slider start ---------------*/
.slider {
    position: relative;
}

.slider_item {
    display: block;
}

#slider_01 {
    position: ;
}

#slider_02,
#slider_03 {
    position: absolute;
    top: 0px;
    opacity: 0;
}

/* ------ The dots/circles end ------ */

/*--------------- slider end ---------------*/

/*--------------- top end ---------------*/

/*--------------- news start ---------------*/
.news {
    background-color: #FAFAFA;
    width: 1080px;
    height: 130px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.news_item {
    width: 330px;
    height: 75px;
    display: flex;
    margin: 0 auto;
    font-weight: 500;
}

.news_item img {
    padding-right: 10px;
}

.news_item span {
    font-size: 12px;
    font-weight: bold;
}

.news_text {
    display: block;
}

.news_text a {
    text-decoration: none;
    color: #565656;
    font-size: 14px;
}

.news_text a:hover {
    border-bottom: 1px #565656 solid;
}

.news_dotted {
    position: relative;
}

.news_dotted_left {
    position: absolute;
    display: block;
    border-top: #565656 dotted;
    width: 93px;
    transform: matrix(0.81, -0.58, 0.58, 0.81, 0, 0);
    top: -56px;
    left: -31px;
}

.news_dotted_right {
    position: absolute;
    display: block;
    border-top: #565656 dotted;
    width: 93px;
    transform: matrix(0.81, -0.58, 0.58, 0.81, 0, 0);
    top: 50px;
    left: 1016px;
}

/*--------------- news end ---------------*/

/*--------------- feature start ---------------*/
.feature {
    position: relative;
    width: 1080px;
    margin: 0 auto;
}

.dialog .dotted_bg {
    position: absolute;
    top: 654px;
    left: -455px;
    z-index: -1;
}

.choc {
    width: 1440px;
    margin: 0 auto;
    position: relative;
}

.choc span {
    font-family: 'Caveat';
    letter-spacing: -3px;
    position: absolute;
    color: #000000;
    font-size: 80px;
    white-space: nowrap;
    transform: rotate(-8.47deg);
    top: -210px;
    left: 1003px;
    z-index: 1;
}

.cream {
    position: relative;
    margin: 100px 0 50px;
}

.cream_bg {
    position: absolute;
    width: 900px;
    height: 197px;
    background-color: #EC6D4E;
    top: -30px;
    left: -30px;
    z-index: -1;
}

/*--------------- dialog start ---------------*/
.dialog {
    width: 510px;
    height: 530px;
    background-image: url('../image/dialog.png');
    background-repeat: no-repeat;
    position: absolute;
    display: flex;
    z-index: 1;
    top: 145px;
    left: 0px;
}

.dialog_text {
    width: 325px;
    margin: auto;
    text-align: center;
    position: relative;
    vertical-align: baseline;
}

.dialog_text span {
    font-size: 20px;
    font-weight: bold;
}

.akshar {
    font-size: 20px;
    font-family: 'Akshar';
    font-style: italic;
    font-weight: 600;
    color: #EC6D4E;
}

.libre {
    margin: 10px 0 40px;
    font-size: 28px;
    line-height: 35px;
    font-family: 'Libre Baskerville';
    font-weight: bold;
}

.dialog_text p {
    text-align: left;
    margin-bottom: 30px;
}

.dialog_text h2:after {
    content: '';
    height: 3px;
    width: 60px;
    background-color: #FFCF75;
    position: absolute;
    top: 133px;
    left: 130px;
}

/*--------------- dialog end ---------------*/
/*--------------- feature end ---------------*/

/*--------------- how to buy start ---------------*/
.howtobuy {
    width: 1080px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.howtobuy .akshar {
    text-align: center;
    margin-bottom: 30px;
}

.howtobuy img {
    width: 40%;
    margin: 0 auto;
    padding-bottom: 15px;
}

.howtobuy ul {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.howtobuy li {
    width: 250px;
}

.howtobuy h4 {
    font-size: 18px;
    font-weight: bold;
}

.howtobuy p {
    font-size: 14px;
    text-align: center;
}

/*--------------- how to buy end ---------------*/

/*--------------- story start ---------------*/
.story {
    background-image: url("../image/blur.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.story_container {
    position: relative;
    width: 1080px;
    height: 590px;
    margin: 0 auto;
    align-items: center;
    display: table;

}

.story_01 {
    position: absolute;
    top: 90px;
    left: 375px;
    transform: rotate(11.32deg);
    transition: .1s step-end;
    z-index: 2;
}

.story_02 {
    position: absolute;
    top: -6px;
    left: 188px;
    transform: rotate(-11.84deg);
    transition: .1s step-end;
    z-index: 1;
}

.story_03 {
    position: absolute;
    top: 89px;
    left: 25px;
    transform: rotate(-8.68deg);
    transition: .1s step-end;
}

.story_01:hover {
    position: absolute;
    top: 90px;
    left: 375px;
    transform: rotate(7.32deg);
    z-index: 2;
}

.story_02:hover {
    position: absolute;
    top: -6px;
    left: 188px;
    transform: rotate(-7.84deg);
    z-index: 3;
}

.story_03:hover {
    position: absolute;
    top: 89px;
    left: 25px;
    transform: rotate(-6.32deg);
    z-index: 3;
}

.desc {
    width: 350px;
    height: 400px;
    text-align: center;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    display: table-cell;
    vertical-align: middle;
}

.desc .akshar {
    color: #FAFAFA;
}

.desc h2:after {
    content: '';
    height: 3px;
    width: 60px;
    background-color: #FFCF75;
    position: absolute;
    top: 132px;
    left: 143px;
}

.desc .libre {
    color: #FAFAFA;
}

.desc p {
    margin-bottom: 30px;
    color: #FAFAFA;
    text-align: left;
}

/*--------------- story end ---------------*/

/*--------------- glory start ---------------*/
.glory_bg {
    background-image: url(../image/top_dotted_bg.png);
}

.glory {
    padding-top: 100px;
    width: 1080px;
    margin: 0 auto;

}

.slogan {
    text-align: center;
    position: relative;
}

.slogan h1 {
    font-size: 50px;
    font-family: 'Libre Baskerville';
    font-weight: bold;
}

.slogan span {
    font-family: 'Caveat';
    font-size: 30px;
}

.quote_bg {
    position: absolute;
    top: -11px;
    left: 181px;
    z-index: -1;
}

/*--------------- glory end ---------------*/
/*--------------- comments slider start ---------------*/
.comments {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    position: relative;
}

.carousel-container {
    /* border: 2px solid black; */
    width: 92%;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    overflow: hidden;

}

#prevBtn {
    position: absolute;
    top: 52%;
    left: 0px;
    cursor: pointer;
}

#nextBtn {
    position: absolute;
    top: 52%;
    right: 0px;
    cursor: pointer;
}

#prevBtn:hover,
#nextBtn:hover {
    filter: drop-shadow(4px 4px 15px rgba(0, 0, 0, 0.15));

}

.carousel-slide {
    display: flex;
}

.comments_item {
    width: 240px;
    /* display: inline-block; */
    /* text-align: center; */
    background-image: url(../image/comments_02.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 45px;
    /* justify-content: space-around; */
    /* margin: 0 auto; */
}

.comments_item:nth-of-type(2n) {
    background-image: url(../image/comments_03.png);
}

.comments_item span {
    font-style: italic;
    font-size: 14px;
}

.comments_item h4 {
    font-size: 18px;
    font-weight: bold;
}

.comments_item p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
}

.stars img {
    width: 20px;
}

.stars {
    width: 100px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 25px;
}

/*--------------- comments slider end ---------------*/

/*--------------- ig start ---------------*/
.followig {
    width: 1080px;
    margin: 0 auto;
}

.followig .akshar {
    text-align: center;
}

.follow_slider {
    margin: auto;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.follow_slidertrack {
    display: flex;
    margin-top: 40px;
    width: calc(279px * 8);
    animation: scroll 15s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-279px * 4));
    }
}

.follow_item {
    box-sizing: border-box;
    margin-right: 20px;
    cursor: pointer;

}

.follow_item img {
    border-radius: 10px;
}

.follow_item:hover {
    transform: scale(1.05);
    transition: .5s ease-in;
}

.ig_icon {
    margin-top: 30px;
    margin-left: 30px;
    position: absolute;
    overflow: hidden;
}

/*--------------- ig end ---------------*/

/*--------------- shop start ---------------*/
.shop {
    width: 1080px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
}

.rotated_text {
    position: absolute;
    top: 44px;
    right: -122px;
    z-index: 2;
    animation: rotate 15s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

/*--------------- dialog start ---------------*/
.dialog_shop {
    width: 510px;
    height: 530px;
    background-image: url(../image/dialog.png);
    background-repeat: no-repeat;
    display: flex;
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 695px;
}

.dialog_text_shop {
    width: 325px;
    margin: auto;
    text-align: center;
    position: relative;
    vertical-align: baseline;
}

.dialog_text_shop h2 {
    font-size: 28px;
    font-weight: bold;
}

.dialog_text_shop p {
    text-align: left;
    margin-bottom: 30px;
}

.dialog_text_shop span {
    font-weight: bold;
}

/*--------------- dialog end ---------------*/
/*--------------- shop end ---------------*/