@import url("reset.css");

body {
    background-color: #FFDFA2;
    line-height: 1.6;
    font-family: 'Quicksand', 'Akshar', 'Caveat', 'Libre Bodoni';
    color: #565656;
    font-size: 16px;
    /* min-width:1440px; */
}

img {
    display: block;
}

p {
    font-weight: 500;
}

.hand_line {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

/* --------------- font start --------------- */
.akshar {
    font-size: 20px;
    font-family: 'Akshar';
    font-style: italic;
    font-weight: 600;
    color: #EC6D4E;
}

.libre {
    margin: 10px 0 40px;
    font-size: 48px;
    /* line-height: 35px; */
    font-family: 'Libre Baskerville';
    font-weight: bold;
}

.signature {
    font-family: 'Caveat';
    font-size: 60px;
}

/* --------------- font end --------------- */

/* --------------- emily start --------------- */
.story {
    width: 960px;
    margin: 0 auto;
    display: flex;
    position: relative;
    margin-top: 80px;
    margin-bottom: 120px;
}

.story .bio {
    text-align: center;
    padding: 60px 0 60px 60px;
}

.bio .quote {
    position: absolute;
    top: 100px;
    left: 451px;
    z-index: -1;
}

.bio p {
    text-align: left;
    margin-bottom: 30px;
}

.emily{
    position:relative;
}

.emily_shadow {
    width: 350px;
    height: 260px;
    background-color: #EC6D4E;
    position: absolute;
    top: 333px;
    left: -29px;
    z-index: -1;
}

.logo_animation{
    width:50%;
    position:absolute;
    top:425px;
    right: -640px;
}

/* ------ data start ------ */
.story_data {
    margin-bottom: 80px;
}

.story_data ul {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.story_data h3 {
    line-height: 60px;
    font-size: 48px;
    font-weight: bold;
}

.story_data p {
    font-size: 20px;
}

.story_data li {
    text-align: center;
}

/* ------ data end ------ */

.story_bg {
    height: 500px;
    background-image: url('../image/story/story_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* ------ whoweare start ------ */
.whoweare {
    width: 1080px;
    display: flex;
    margin: 0 auto;
    position: relative;
    margin-top: 140px;
    margin-bottom: 140px;
}

.whoweare_desc {
    padding: 80px 100px 80px 0;
}

.text_path {
    position: absolute;
    top: -33px;
    left: 544px;
    animation: rotate 30s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.whoweare .quote {
    position: absolute;
    top: 82px;
    left: -21px;
    z-index: -1;
}

/* ------ whoweare end ------ */

/* ------ process start ------ */
.process {
    background-color: #FFF3DC;
    height: 400px;
    display: flex;
}

.process ul {
    width: 1080px;
    display: flex;
    margin: 0 auto;
}

.process img:nth-child(1),
.process img:nth-child(2) {
    margin-right: 20px;
}

.process img {
    margin-top: -80px;
}

.process_desc {
    margin: 80px 0 0 60px;
}

.process_desc h4 {
    font-size: 32px;
    line-height: 40px;
    font-family: 'Libre Baskerville';
    font-weight: bold;
    margin-bottom: 30px;
}

/* ------ process end ------ */
/* --------------- emily end --------------- */