@import url("reset.css");

body {
    background-color: #FFDFA2;
    line-height: 1.6;
    font-family: 'Quicksand', 'Akshar', 'Caveat', 'Libre Bodoni';
    color: #565656;
    font-size: 16px;
    min-width:1440px;
}

img {
    display: block;
}

p {
    font-weight: 500;
}

.hand_line {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

/* --------------- what offer start --------------- */
.whatweoffer {
    width: 850px;
    margin: 0 auto;
    margin-top: 80px;
    text-align: center;
}

.display_title {
    position: relative;
}

.libre {
    margin: 10px 0 40px;
    font-size: 56px;
    line-height: 35px;
    font-family: 'Libre Baskerville';
    font-weight: bold;
}

.quote {
    position: absolute;
    top: -30px;
    left: 227px;
    z-index: -1;
}

/* -------- donuts front start -------- */
.donuts_front {
    position: relative;
}

.delicious {
    font-family: 'Caveat';
    letter-spacing: -3px;
    position: absolute;
    color: #EC6D4E;
    font-size: 70px;
    line-height: 80px;
    white-space: nowrap;
    transform: rotate(-8.47deg);
    top: 545px;
    left: -15px;
    z-index: 1;
}

.donuts_front img {
    margin: 0 auto;
    margin-top: 160px;
}

.donuts_side img {
    margin: 0 auto;
    margin-top: 220px;
}

.front_item_01, .front_item_02, .front_item_03 {
    position: relative;
}

.front_item_01 h4 {
    position: absolute;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    top: 5px;
    right: 80px;
}

.front_item_01:after {
    content: "";
    width: 230px;
    height: 3px;
    transform: rotate(-21.22deg);
    background-color: #565656;
    position: absolute;
    top: 86px;
    right: 180px;
}

.front_item_02 h4 {
    position: absolute;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    top: 237px;
    left: 0px;
}

.front_item_02:after {
    content: "";
    width: 230px;
    height: 3px;
    background-color: #565656;
    position: absolute;
    top: 260px;
    left: 148px;
}

.front_item_03 h4 {
    position: absolute;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    bottom: -570px;
    right: 130px;
}

.front_item_03:after {
    content: "";
    width: 230px;
    height: 3px;
    transform: rotate(47.97deg);
    background-color: #565656;
    position: absolute;
    bottom: -460px;
    right: 240px;
}
/* -------- donuts front end -------- */

/* -------- donuts side start -------- */
.donuts_side{
    position: relative;
}

.side_line_01{
    position: absolute;
    top:167px;
    right: 254px;
}

.side_line_01 span {
    border-top:10px dotted #565656;
    width:330px;
    transform: rotate(90deg);
    position: absolute;
  }

  .side_line_01 h4{
    position: absolute;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    transform: rotate(-90deg);
    top:-100px;
    right: 130px;
  }

  .side_line_02{
    position: absolute;
    top:400px;
    right: 672px;
}

.side_line_02 span {
    border-top:10px dotted #565656;
    width:490px;
    position: absolute;
  }

  .side_line_02 h4{
    position: absolute;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    top:27px;
    right: 200px;
  }


/* -------- donuts side end -------- */

/* -------- ingredients start -------- */
.ingredients{
    width: 960px;
margin-top: 250px;
margin-bottom: 100px;
}

.ingredients ul{
    display: flex;
    justify-content: space-around;
    box-shadow: #565656;
}

.ingredients li{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
   align-items: center;
}

.ingredients h3{
    font-family: 'Libre Bodoni';
    font-size: 28px;
    font-weight: bold;
    color: #FAFAFA;
    margin: 0 auto;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.food_item_01{
    background-image: url('../image/whatweoffer/i_01.png');
}

.food_item_02{
    background-image: url('../image/whatweoffer/i_02.png');
}

.food_item_03{
    background-image: url('../image/whatweoffer/i_03.png');
}
/* -------- ingredients end -------- */

/* --------------- what offer end --------------- */