@import url("reset.css");

body {
    background-color: #FFDFA2;
    line-height: 1.6;
    font-family: 'Quicksand', 'Akshar', 'Caveat', 'Libre Bodoni';
    color: #565656;
    font-size: 16px;
    /* min-width:1440px; */
}

img {
    display: block;
}

p {
    font-weight: 500;
}

.hand_line {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

/* --------------- what offer start --------------- */
.whatweoffer {
    width: 850px;
    margin: 0 auto;
    margin-top: 80px;
    text-align: center;
    /* outline: 2px red solid; */
}

.display_title {
    position: relative;
}

.libre {
    margin: 10px 0 40px;
    font-size: 56px;
    line-height: 35px;
    font-family: 'Libre Baskerville';
    font-weight: bold;
}

.quote {
    position: absolute;
    top: -30px;
    left: 227px;
    z-index: -1;
}

/* -------- donuts front start -------- */
.donuts_front {
    position: relative;
}

.delicious {
    font-family: 'Caveat';
    letter-spacing: -3px;
    position: absolute;
    color: #EC6D4E;
    font-size: 60px;
    line-height: 70px;
    white-space: nowrap;
    transform: rotate(-8.47deg);
    top: 98%;
    left: -10%;
    z-index: 1;
}

.donuts_front img {
    margin: 0 auto;
    margin-top: 16%;
}

.front_item_01 {
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
    position: absolute;
    top: 119px;
    right: 113px;
}

.front_item_01:after {
    content: "";
    width: 200px;
    height: 2px;
    transform: rotate(-21.22deg);
    background-color: #565656;
    position: absolute;
    top: 0px;
    right: 0px;
}

.front_item_02 {
    position: absolute;
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
    top: 242px;
    right: 658px;
}

.front_item_02:after {
    content: "";
    width: 230px;
    height: 3px;
    background-color: #565656;
    position: absolute;
    top: -7px;
    right: -102px;
}

.front_item_03 {
    position: absolute;
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
    top: 422px;
    right: 130px;
}

.front_item_03:after {
    content: "";
    width: 230px;
    height: 2px;
    transform: rotate(47.97deg);
    background-color: #565656;
    position: absolute;
    top: 0px;
    right: 56px;
}

/* -------- donuts front end -------- */

/* -------- donuts side start -------- */
.donuts_side {
    position: relative;
    width: 400px;
    height: 420px;
    margin: 0 auto;
    /* outline: 2px blue solid; */
}

.donuts_side img {
    position: absolute;
    margin: 0 auto;
    margin-top: 22%;
    right: -13%;
    top: 7%;
}

.side_line_01 {
    border-top: 10px dotted #565656;
    width: 300px;
    transform: rotate(90deg);
    position: absolute;
    right: -62%;
    top: 68%;
}

.side_title_01 {
    position: absolute;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    /* transform: rotate(-90deg); */
    right: -51%;
    top: 64%;
}

.side_line_02 {
    border-top: 10px dotted #565656;
    width: 450px;
    position: absolute;
    right: -6%;
    top: 118%;
}

.side_title_02 {
    position: absolute;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    right: 36%;
    top: 125%;
}

/* -------- donuts side end -------- */

/* -------- ingredients start -------- */
.ingredients {
    width: 960px;
    margin-top: 250px;
    margin-bottom: 100px;
}

.ingredients ul {
    display: flex;
    justify-content: space-around;
    box-shadow: #565656;
}

.ingredients li {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.ingredients h3 {
    font-family: 'Libre Bodoni';
    font-size: 28px;
    font-weight: bold;
    color: #FAFAFA;
    margin: 0 auto;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.food_item_01 {
    background-image: url('../image/whatweoffer/i_01.png');
}

.food_item_02 {
    background-image: url('../image/whatweoffer/i_02.png');
}

.food_item_03 {
    background-image: url('../image/whatweoffer/i_03.png');
}

/* -------- ingredients end -------- */

/* --------------- what offer end --------------- */